html {
    background: none; 
}
 
.container {
    grid-template-columns: 1fr;
    grid-auto-rows: 100px auto 100px;
    grid-template-areas: 
      "navigation"
      "form-box"
      "footer"
}

.form-box {
    border: none;
}

.form-box::after{
    display: none;
}

.login-content{
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  p {
    font-weight: 400;
  }
}

.link{
    display: inline;
    margin: 0;
}

.footer {
    padding: 15px;

    .social-media-icons {
        position: relative;
    }
}

.login-content .input-div{
    margin: 25px 0;
}

.btn{
    width: 75%;
    margin: 50px 0 0 0;
}

form {
    position: relative;
}

.user-message {
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
}


//INFO POP-UPS

.info-div .info-icon {
    position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #d9d9d9;;
      transition: .3s;
  }
  
  .info-div {
    margin-top: -45px;
    margin-left: 255px;
    position: relative;
  }
  
  .input-div.focus .info-icon {
    top: -5px;
  }
  
  .input-div.focus .info-popup {
    margin-top: -10px;
  }
  
  .info-popup {
    text-align: left;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    width: 150px;
    height: auto;
    margin-top: 18px;
    margin-left: -155px;
    transition: .3s;
    color: #25313F;
    font-size: 10px;
    border: solid 1px #25313F;
    background-color: white;
    z-index: 10;
    
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    ul li {
      margin: 0;
      padding: 0;
    }
  }
  
  .info-div:hover {
    .info-icon {
      color: #FFB02B;
    }
    .info-popup {
      visibility: visible;
      opacity: 1;
    }
  }



@media (max-width: 1500px) { 
    .container {
      grid-auto-rows: 100px auto 100px;
    }
}

@media (max-width: 900px) {
    .login-content{
      align-items: center;
      text-align: center;
    }

    .login-content .input-div{
        margin: 25px 12.5%;
    }
    
    .btn{
        margin: 50px 12.5%;
    }

    .user-message {
        margin-top: -10px;
        margin-left: 45px;
        margin-right: 45px;
    }
}

