//Deck settings main window
.deck-settings-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;

    //border
    border: 3px solid var(--border-button-color);
    box-shadow: 2px 2px 6px 0 #25313F;
    background-color: var(--panel-color);

    z-index: 200;

    min-width: 600px;
    max-width: 80%;
}

.deck-settings-window.active {
    transform: translate(-50%, -50%) scale(1);
}

.deck-settings-deck-name {
    position: absolute;
    font-size: 10px;
    right: 15px;
    margin-top: 40px;
}

//Deck settings body
.deck-settings-body {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 50px;

    .deck-set-headings {
        position: relative;
        width: 100px;
        min-height: 65px;
    }

    .deck-set-line {
        margin-left: 15px;
        height: inherit;
        width: 1px;
        background: var(--text-color);
    }

    .deck-set-contents {
        margin-left: 15px;
        width: 500px;
    }

    .deck-set-title {
        margin-bottom: 10px;
        font-size: 14px;
        padding-left: 2px;
        font-weight: 400;
        text-align: left;
        cursor: pointer;
    }

    .input-div{
        position: relative;
        padding: 5px 0;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85%;
        border-bottom: 2px solid var(--input-standard-color);
    }

    .required-name-error {
        margin-top: 10px;
        font-size: 12px;
        color: var(--error-warning-color);
    }
    
    .required-name-hide {
        display: none;
    }
}

.deck-set-content:not(:first-child) {
    display: none;
}

.deck-set-title:hover {
    border-left: 4px solid #FFB02B;
}
.deck-set-active {
    border-left: 4px solid #FFB02B;
}

//CONTENTS
.deck-set-content-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.deck-set-content-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

//DELETE DECK
.deck-set-delete {
    border: none;
    position: relative;
    width: 200px;
    background-color: var(--error-warning-color);

    .deck-set-btn {
        background-color: var(--error-warning-color);
    }
}

.dark .deck-set-delete:hover{
    .deck-set-btn {
      color: var(--text-color);
      background-color: var(--error-warning-color);
    }
    
    background-color: var(--error-warning-color);
}

//RENAME & CHANGE & IMPORT BTN DECK
.deck-set-change {
    border: none;
    position: relative;
    width: 200px;
}

.drop-file-zone-container {
    .input-div{
        position: absolute;
        margin-top: 5px;
        margin-left: 225px;
        width: 100px;
        border-bottom: 2px solid var(--input-standard-color);
    }
}

