{% extends 'accounts/layout.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}

{% block title %}Password reset complete{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'accounts/css/forgotPassword.scss' %}">
{% endblock %}

{% block content %}

<h2>{% trans "Password reset complete." %}</h2>
<p>{% trans "Your new password has been set. You can log in now on the " %}<a class="link link-signup"
                href="{% url 'accounts:login' %}">{% trans "log in page" %}</a>.</p>

{% endblock %}