{% extends 'accounts/layout.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% load accounts.accounts_tags %}

{% block title %}Enter new password{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'accounts/css/forgotPassword.scss' %}">
{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% if validlink %}
<h2>{% trans "Set a new password." %}</h2>

<form method="POST" action="" novalidate>
    {% csrf_token %}
    <div class="input-div pass">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div class="div">
            <h5>{% trans "New password" %}</h5>
            {% render_field form.new_password1 type="password" class="input" %}
        </div>
        <div class="info-div">
            <i class="fas fa-info-circle info-icon"></i>
            <div class="info-popup">
                {{ form.new_password1.help_text }}
            </div>
        </div>
    </div>
    <div class="input-div pass">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div class="div">
            <h5>{% trans "Confirm Password" %}</h5>
            {% render_field form.new_password2 type="password" class="input" %}
        </div>
    </div>

    <p class="user-message">{{ form|getMessage }}</p>


    <input type="submit" class="btn" value="{% trans 'Change my password' %}">
</form>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new
    password reset." %}
</p>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'accounts/js/resetConfirm.js' %}"></script>
<script type="text/javascript">
    initializeResetConfirm('{{ LANGUAGE_CODE }}');
</script>
{% endblock %}